<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let empresa of empresas; let i = index">
      <ion-icon name="business-outline" slot="start" size="large" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ empresa.nome }}</h2>
        <p>
          <strong>Email:</strong> {{ empresa.email }}<br>
          <strong>Telefone:</strong> {{ empresa.telefone }}<br>
          <strong>Endereço:</strong> {{ empresa.endereco }}<br>
          <strong>Nota:</strong> {{ empresa.nota }}
        </p>
      </ion-label>
      <ion-button fill="clear" color="medium" slot="end" [routerLink]="['/editar-empresa', i]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="excluirEmpresa(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" [routerLink]="['/cadastro-empresas']">
      <ion-icon name="business-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>